@{
    ViewBag.Title = "Confirmación para reestablecer contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       Su contraseña ha sido reestablecida.  @Html.ActionLink("click aca para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
