@model IEnumerable<Ingeneo.AppContratos.ModelViews.UserView>

@{ 
    ViewBag.Title = "Admin";
}

<h2>Administrar Roles</h2>
@*@Html.ActionLink("Nuevo Registro", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "btn btn-primary glyphicon glyphicon-plus" })*@
<br />
<a class="btn btn-primary" href=@Url.Action("Register", "Account") ><span class="glyphicon glyphicon-plus"></span> Agregar Nuevo Usuario</a>
<br />
<br />
<table class="table table-striped table-hover table-responsive table-bordered">
    <thead>
        <tr style="background:#0945a5; color:#ffffff">
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Roles</th>
        </tr>
    </thead>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>            
            <td>                
                @*@Html.ActionLink("Roles", "Roles", new { userID = item.UserID }, new { @class= "btn btn-primary glyphicon glyphicon-plus" })*@                
                @*<a class="btn btn-primary"  href="~/Views/Users/Roles/@item.UserID"><span class="glyphicon glyphicon-plus"></span> Roles</a>*@ 
                <a class="btn btn-success" href=@Url.Action("Roles", "Users", new { userID = item.UserID })><span class="glyphicon glyphicon-plus"></span> Agregar Rol</a> 
                <a class="btn btn-danger" href=@Url.Action("DeleteUser", "Users", new { userID = item.UserID })><span class="glyphicon glyphicon-trash"></span> Borrar</a>       
            </td>
        </tr>
    }
</table>