
@{
    ViewBag.Title = "Acceso Denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>

    <h2>Acceso Denegado!!!</h2>
    <br>
    <h4>Hola, no tienes permiso suficiente, por favor contacta al Administrador del sistema para que te sea asignado un Rol.</h4>
    <br>
    <div>
        <a class="btn btn-primary" href="/Home/Index"><span class="glyphicon glyphicon-arrow-left"></span> Regresar al Menú</a>
    </div>
</body>
</html>


