
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Hola, Contrtos Proximos a Terminar</title>
</head>
<body>
    <p style="font-size:18px;">Hola</p>

    <p style="font-size:18px;">Los Datos del contrato Proximo a terminar son: </p>


    <p style="font-size:18px;">Ingeneo Admin</p>

</body>
</html>


